/* Colors and Fonts */

body{
/*  background-color: #F3F9F2;*/
  background-image: url("https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?w=2767&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #326671;
  font-size: 15px;
  line-height: 1.6em;
  margin: 10px 0 0 0;
}

.nav{
  position: fixed;
  left:10px;
  width: 60px;
  display:block;
  padding: 0 0 0 0;

}

img{width: 100px;}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #18565A;
  font-size: 22px;
}

h2{
  font-size: 18px;
  font-weight: 300;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

a{
  color: #5DA498;
  text-decoration: none;
}

a:hover{
  color: #E7FD75;
  text-decoration: none;
}

table{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}
.text-center {
  text-align: center;
}

@media (max-width: 1300px) {
  .container{
    width: 500px;
    margin: 30px auto;
  }
}
.card{
  background: rgba(255, 255, 255, 0.6);

  width:400px;
  padding: 20px;
  margin: 0 auto 20px auto;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.img-circle{
  border-radius: 50%;
}

.text-center{
  text-align: center;
}
.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i{
  font-size: 25px;
}
.btn-green{
  background-color: #5DA498;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}
.btn-green:hover{
  background-color: #F7EFA5;
  color: white;
}

.btn-white{
  background-color: rgba(233,192,191,0.8);
  color: white;
  font-weight: 500;
  padding: 10px;
  display: block;
  width: 40px;
  height: 40px;
  margin:0 0 10px 0;
}
.btn-white:hover{
  background-color: #F7EFA5;
  color: white;
}

.nav > a > i { line-height: 40px; }

/* Specific CSS rules */

#img-profile{
  width: 100px;
  height: 100px;
  border: 3px solid #F7EFA5;
}
#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}
#movies img{
  width: 80px;
}
#movies td{
  padding: 10px;
}
